body{
    background-color: black;
    color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
a{
    font-size: 20px;
    background-color: rgb(77, 77, 77);
}
a:link{
    color:#ffff80 ;
}
a:visited{
    color: #329ea8;

}
a:hover{
    color: #e3122e;

}
a:active{
    color: #12e31c;
}
footer{
    background-color:rgb(169, 169, 169) ;
    color: black;
}
img{
    height: 150px;
    width: auto;
}